.recipe{
    text-indent: 20px;
}

.card.m-3 {
    height: 450px;
    width:  300px;
    
}

.like{
   
    fill-rule: nonzero;
    position: absolute;
    height: 20px;
    right: 15px;
       bottom: 15px;
}

.like-on{
    fill: red;  
    fill-rule: nonzero;
    position: absolute;
    height: 20px;
    right: 15px;
    bottom: 15px;
}

.row{
 margin: auto;
}

.card-img-top{
    height: 250px;
}
